*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --hover-active-colour: #F2C7E2;
    --svg-fill-colour: #fff;
    --sorce-code-svg-fill-colour: hsl(214, 7%, 47%);
    --body-bg-colour: #121212;
    --nav-footer-bg-colour: #131418;
    --nav-text-colour: #f2f5f7;
    --card-bg-colour: #262626;
    --card-title-span-colour: rgb(255, 251, 251);
    --card-box-shadow-colour: rgba(139,138,138,0.2);
    --card-box-shadow-hover-colour: #f2c7e2;
    --top-border-colour: #F2C7E2;
    --footer-link-colour: dimgrey;
    --blog-span-hr-colour: rgba(105, 105, 105, 0.26);
  }
body{
    overflow-x: hidden;
    background-color: var(--body-bg-colour);
}
a{
  color: var(--nav-text-colour);
  &:hover{
    color: var(--hover-active-colour);
  }
    
}




.index_h1{
    padding-top: 1em;
    margin: auto;
    text-align: center;
    color: var(--nav-text-colour);
    @media screen and (max-width: 800px){
      padding-top: 7em;
      font-size: 1.25em;
      padding-left: 2em;
      padding-right: 2em;
    }
    
}

.band {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    margin-left: 30%;
    
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    @media screen and (max-width: 800px){
      margin-bottom: 1.5em;
    }
    @media (min-width: 30em) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 60em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: var(--card-bg-colour);
    text-decoration: none;
    color: var(--nav-text-colour);
    box-shadow: 0 2px 5px var(--card-box-shadow-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
  
    // sets up hover state
    position: relative;
    top: 0;
    transition: all .1s ease-in;
   
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px var(--card-box-shadow-hover-colour);
     
    }
    
    article {
      padding: 20px;
      flex: 1;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    h1 {
      font-size: 20px;
      margin: 0;
      margin: auto;
      text-align: center;
      color: var(--card-title-span-colour);
      
    }
    
    p {
      flex: 1;
      line-height: 1.4;
    }
    
    span {
      font-size: 12px;
      font-weight: bold;
      color: var(--card-title-span-colour);
      text-transform: uppercase;
      letter-spacing: .05em;
      margin: 2em 0 0 0;
      padding-right: 3em;
      
    }
    .span_flex{
      display: flex;
    }
    
    .thumb {
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }
  }
  
  .item-1 {
    @media (min-width: 60em) {
      grid-column: 1 / span 2;
      
      h1 {
        font-size: 24px;
      }
    }
  }
  .changelog_h1{
    padding-top: 1em;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    color: var(--nav-text-colour);
    @media screen and (max-width: 800px){
      padding-top: 7em;
      font-size: 1.25em;
      padding-left: 2em;
      padding-right: 2em;
    }
    
}
hr { 
    border-top: 2px solid var(--top-border-colour); 
  width: 96%;
  margin-left: 1em;
  margin-top: .3em;
  align-items: center;
 
  }
  h2{
    padding-top: .7em;
    font-size: 1em;
  }
  p,h2{
    color: var(--nav-text-colour);
    padding-left: 1em;
  }